/*M!999999\- enable the sandbox mode */ 

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_sales_people` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `number` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `banks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `holder_name` varchar(255) DEFAULT NULL,
  `account_number` varchar(255) DEFAULT NULL,
  `ifsc_number` varchar(255) DEFAULT NULL,
  `branch` varchar(255) DEFAULT NULL,
  `default` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = No 1 = Yes',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bom_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `boms_id` bigint(20) unsigned NOT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bom_metas_boms_id_foreign` (`boms_id`),
  CONSTRAINT `bom_metas_boms_id_foreign` FOREIGN KEY (`boms_id`) REFERENCES `boms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=677 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `boms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `bom_name` varchar(255) NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `company_profile_id` bigint(20) unsigned NOT NULL,
  `category_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `categories_user_id_foreign` (`user_id`),
  KEY `categories_company_profile_id_foreign` (`company_profile_id`),
  CONSTRAINT `categories_company_profile_id_foreign` FOREIGN KEY (`company_profile_id`) REFERENCES `company_profiles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `categories_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `state_id` bigint(20) unsigned NOT NULL,
  `city_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cities_state_id_foreign` (`state_id`),
  CONSTRAINT `cities_state_id_foreign` FOREIGN KEY (`state_id`) REFERENCES `states` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `commission_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `payment_type` enum('Cash','Cheque','NEFT','UPI','RTGS','IMPS','Discount','Adjustment','TDS','Customer Return') DEFAULT NULL,
  `amount` decimal(12,2) NOT NULL DEFAULT 0.00,
  `payment_date` date DEFAULT NULL,
  `cheque_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `utr_number` varchar(255) DEFAULT NULL,
  `upi_id` varchar(255) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `status` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: Pending, 1: Approved, 2: Hold, 3: Return',
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `commission_payments_user_id_index` (`user_id`),
  KEY `commission_payments_approved_by_index` (`approved_by`)
) ENGINE=InnoDB AUTO_INCREMENT=452 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `parent_id` int(11) DEFAULT NULL,
  `manager_id` int(11) DEFAULT NULL,
  `user_type` enum('O','M','S') NOT NULL DEFAULT 'O' COMMENT 'O = Owner M = Manager S = Sales',
  `state_id` int(11) DEFAULT NULL,
  `city_id` int(11) DEFAULT NULL,
  `indiamart_key` varchar(255) DEFAULT NULL,
  `justdial_key` varchar(255) DEFAULT NULL,
  `is_indiamart` int(11) NOT NULL DEFAULT 0,
  `is_justdial` int(11) NOT NULL DEFAULT 1,
  `business_name` varchar(255) NOT NULL,
  `address` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `company_profiles_user_id_foreign` (`user_id`),
  CONSTRAINT `company_profiles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_challan_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `delivery_challan_id` bigint(20) unsigned NOT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `rate` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gst_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `delivery_challan_metas_delivery_challan_id_foreign` (`delivery_challan_id`),
  CONSTRAINT `delivery_challan_metas_delivery_challan_id_foreign` FOREIGN KEY (`delivery_challan_id`) REFERENCES `delivery_challans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6352 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_challan_return_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `delivery_challan_return_id` bigint(20) unsigned NOT NULL,
  `item_id` int(11) NOT NULL DEFAULT 0,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `delivery_challan_return_metas_delivery_challan_return_id_foreign` (`delivery_challan_return_id`),
  CONSTRAINT `delivery_challan_return_metas_delivery_challan_return_id_foreign` FOREIGN KEY (`delivery_challan_return_id`) REFERENCES `delivery_challan_returns` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=674 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_challan_returns` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `issue_type` enum('project','installer') NOT NULL DEFAULT 'project',
  `installer_id` int(11) DEFAULT NULL COMMENT 'user_id',
  `sales_master_id` varchar(255) NOT NULL,
  `warehouse_id` bigint(20) unsigned NOT NULL,
  `challan_number` varchar(255) NOT NULL,
  `challan_date` date DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `delivery_challan_returns_warehouse_id_foreign` (`warehouse_id`),
  CONSTRAINT `delivery_challan_returns_warehouse_id_foreign` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery_challans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `issue_type` enum('project','installer','warehouse','trading') NOT NULL DEFAULT 'project',
  `installer_id` int(11) DEFAULT NULL,
  `warehouse_from_id` int(11) DEFAULT NULL,
  `sales_master_id` varchar(255) DEFAULT NULL,
  `warehouse_id` bigint(20) unsigned NOT NULL,
  `quotations_id` int(11) DEFAULT NULL,
  `challan_number` varchar(255) NOT NULL,
  `challan_date` date DEFAULT NULL,
  `vehicle_no` varchar(15) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `delivery_challans_warehouse_id_foreign` (`warehouse_id`),
  CONSTRAINT `delivery_challans_warehouse_id_foreign` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1558 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `discoms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `discom_name` varchar(255) NOT NULL,
  `address` varchar(255) NOT NULL,
  `selected_pdfs` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `districts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `state_id` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_sales_master_id_foreign` (`sales_master_id`),
  CONSTRAINT `documents_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7915 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `estimate_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `estimate_id` bigint(20) unsigned NOT NULL,
  `category_id` int(11) NOT NULL DEFAULT 0,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL,
  `unit_id` int(11) NOT NULL,
  `rate` double DEFAULT NULL,
  `total` double DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `estimate_items_estimate_id_foreign` (`estimate_id`),
  CONSTRAINT `estimate_items_estimate_id_foreign` FOREIGN KEY (`estimate_id`) REFERENCES `estimates` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `estimates` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` bigint(20) unsigned NOT NULL,
  `company_profile_id` int(11) NOT NULL DEFAULT 0,
  `manager_id` int(11) NOT NULL DEFAULT 0,
  `assign_id` int(11) NOT NULL DEFAULT 0,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `estimate_title` varchar(255) DEFAULT NULL,
  `estimate_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `subtotal` double NOT NULL,
  `discount` double NOT NULL,
  `total` double NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `pdf` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `estimates_lead_master_id_foreign` (`lead_master_id`),
  CONSTRAINT `estimates_lead_master_id_foreign` FOREIGN KEY (`lead_master_id`) REFERENCES `lead_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `follow_up_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` int(11) DEFAULT NULL,
  `follow_up_id` int(11) DEFAULT NULL,
  `image` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=552 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `follow_ups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` bigint(20) unsigned NOT NULL,
  `reminder_date` datetime DEFAULT NULL,
  `call_recording` blob DEFAULT NULL,
  `call_detail` text NOT NULL,
  `remark` text DEFAULT NULL,
  `status_id` int(11) DEFAULT NULL,
  `follow_up_by` int(11) NOT NULL DEFAULT 0,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `follow_ups_lead_master_id_foreign` (`lead_master_id`),
  CONSTRAINT `follow_ups_lead_master_id_foreign` FOREIGN KEY (`lead_master_id`) REFERENCES `lead_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6873 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receive_notes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `purchase_order_id` bigint(20) unsigned NOT NULL,
  `grn_number` varchar(25) NOT NULL,
  `invoice_number` varchar(25) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `status` enum('Pending','Verified') NOT NULL DEFAULT 'Pending',
  `user_id` bigint(20) unsigned NOT NULL COMMENT 'verify_by',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `goods_receive_notes_purchase_order_id_foreign` (`purchase_order_id`),
  KEY `goods_receive_notes_user_id_foreign` (`user_id`),
  CONSTRAINT `goods_receive_notes_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `goods_receive_notes_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquiries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `consumer_flag` enum('new','old') NOT NULL DEFAULT 'new',
  `consumer_name` varchar(255) NOT NULL,
  `consumer_number` varchar(255) NOT NULL,
  `contact_number` varchar(255) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `problem` text NOT NULL,
  `invoice_date` date DEFAULT NULL,
  `warranty_status` enum('in_warranty','out_of_warranty') DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'new_service',
  `assign_person_id` bigint(20) unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `inquiry_follows` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned DEFAULT NULL,
  `reminder_date` date DEFAULT NULL,
  `call_recording` blob DEFAULT NULL,
  `call_detail` text DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `follow_up_by` int(11) NOT NULL DEFAULT 0,
  `image` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `inquiry_id` int(11) DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'new_service',
  `assign_person_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inquiry_follows_sales_master_id_foreign` (`sales_master_id`),
  CONSTRAINT `inquiry_follows_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=204 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `installation_id` bigint(20) unsigned NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `installation_images_installation_id_foreign` (`installation_id`),
  CONSTRAINT `installation_images_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_invaters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `installation_id` bigint(20) unsigned NOT NULL,
  `item_group_id` int(11) DEFAULT NULL,
  `stock_type` varchar(25) DEFAULT NULL,
  `invater_id` int(11) NOT NULL DEFAULT 0,
  `invater_kw` float(10,3) DEFAULT NULL,
  `model_number` varchar(255) DEFAULT NULL,
  `serial_no_of_inverter` varchar(255) DEFAULT NULL,
  `voltage` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `installation_invaters_sales_master_id_foreign` (`sales_master_id`),
  KEY `installation_invaters_installation_id_foreign` (`installation_id`),
  CONSTRAINT `installation_invaters_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `installation_invaters_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3059 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `installation_id` bigint(20) unsigned NOT NULL,
  `stock_type` varchar(255) DEFAULT NULL,
  `item_id` bigint(20) unsigned NOT NULL,
  `use_stock` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `installation_items_sales_master_id_foreign` (`sales_master_id`),
  KEY `installation_items_installation_id_foreign` (`installation_id`),
  CONSTRAINT `installation_items_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `installation_items_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37757 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_penal_masters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `installation_id` bigint(20) unsigned NOT NULL,
  `stock_type` varchar(255) DEFAULT NULL,
  `item_group_id` bigint(20) unsigned NOT NULL,
  `use_stock` varchar(255) DEFAULT NULL,
  `model_number` varchar(255) DEFAULT NULL,
  `total_kw` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `installation_penal_masters_sales_master_id_foreign` (`sales_master_id`),
  KEY `installation_penal_masters_installation_id_foreign` (`installation_id`),
  KEY `installation_penal_masters_item_group_id_foreign` (`item_group_id`),
  CONSTRAINT `installation_penal_masters_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `installation_penal_masters_item_group_id_foreign` FOREIGN KEY (`item_group_id`) REFERENCES `item_groups` (`id`) ON DELETE CASCADE,
  CONSTRAINT `installation_penal_masters_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1985 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installation_penals` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `installation_id` bigint(20) unsigned NOT NULL,
  `item_group_id` int(11) DEFAULT NULL,
  `stock_type` varchar(25) DEFAULT NULL,
  `serial_no` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `installation_penals_sales_master_id_foreign` (`sales_master_id`),
  KEY `installation_penals_installation_id_foreign` (`installation_id`),
  CONSTRAINT `installation_penals_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `installation_penals_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=139224 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `installations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `form_type` enum('old','new') NOT NULL DEFAULT 'old',
  `date` date NOT NULL,
  `penal_company_id` int(11) DEFAULT NULL,
  `penal_model_no` varchar(255) DEFAULT NULL,
  `penal_type_id` int(11) DEFAULT NULL,
  `penal_watt_id` int(11) DEFAULT NULL,
  `penal_nos` varchar(255) DEFAULT NULL,
  `total_kv` varchar(255) DEFAULT NULL,
  `type_of_inverter` varchar(255) DEFAULT NULL,
  `no_of_inverter` varchar(255) DEFAULT NULL,
  `dc_side` varchar(255) DEFAULT NULL,
  `ac_side` varchar(255) DEFAULT NULL,
  `la_earthing` varchar(255) DEFAULT NULL,
  `phase_to_earth` varchar(255) DEFAULT NULL,
  `phase_to_phase` varchar(255) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `cable_dc` varchar(255) DEFAULT NULL,
  `cable_ac` varchar(255) DEFAULT NULL,
  `cable_la` varchar(255) DEFAULT NULL,
  `cable_earthing` varchar(255) DEFAULT NULL,
  `structure_40_40_2mm` varchar(255) DEFAULT NULL,
  `structure_60_40_2mm` varchar(255) DEFAULT NULL,
  `structure_80_40_2mm` varchar(255) DEFAULT NULL,
  `structure_others` varchar(255) DEFAULT NULL,
  `penal_image` varchar(255) DEFAULT NULL,
  `inverter_image` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `status` enum('0','1','2') NOT NULL COMMENT '0 = pending,1=half, 2 = done',
  PRIMARY KEY (`id`),
  KEY `installations_sales_master_id_foreign` (`sales_master_id`),
  CONSTRAINT `installations_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1795 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invater_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `installation_id` bigint(20) unsigned NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `invater_images_installation_id_foreign` (`installation_id`),
  CONSTRAINT `invater_images_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1472 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `inveter_companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `group_type` enum('panel','inverter') NOT NULL DEFAULT 'panel',
  `panel_company_id` int(11) DEFAULT 0,
  `panel_type_id` int(11) DEFAULT 0,
  `p_type` enum('DCR','Non DCR') DEFAULT NULL,
  `panel_watt_id` int(11) DEFAULT 0,
  `inveter_company_id` int(11) DEFAULT 0,
  `inveter_kw` varchar(255) DEFAULT '0',
  `inverter_type` varchar(25) DEFAULT NULL,
  `item_code` varchar(255) DEFAULT NULL,
  `hsn_code` varchar(255) DEFAULT NULL,
  `gst_rate` varchar(255) DEFAULT NULL,
  `unit_id` int(11) NOT NULL DEFAULT 2,
  `moq_level` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_masters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `company_profile_id` int(11) NOT NULL DEFAULT 0,
  `manager_id` int(11) NOT NULL DEFAULT 0,
  `assign_id` int(11) NOT NULL DEFAULT 0,
  `lead_title` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `lead_value` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `india_mart_unique_id` int(11) DEFAULT NULL,
  `category_id` int(11) NOT NULL DEFAULT 0,
  `product_id` int(11) NOT NULL DEFAULT 0,
  `source_id` int(11) DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `last_contacted` date DEFAULT NULL,
  `reminder_date` date DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `state_id` int(11) NOT NULL DEFAULT 0,
  `city_id` int(11) NOT NULL DEFAULT 0,
  `pincode` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `kw` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `agent_sales_person_id` varchar(255) DEFAULT NULL,
  `lead_status` varchar(255) DEFAULT NULL,
  `remark` text DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `status_master_id` int(11) NOT NULL DEFAULT 0,
  `lead_status_id` int(11) DEFAULT NULL,
  `status` enum('0','1','2','3','4','5') NOT NULL DEFAULT '0' COMMENT '0 = new 1 = done 2 = close 3 = next , 4 =Site Vsit , 5 = Make Quatation',
  `front_side` varchar(255) DEFAULT NULL,
  `back_side` varchar(255) DEFAULT NULL,
  `query_type` varchar(255) DEFAULT NULL,
  `query_time` varchar(255) DEFAULT NULL,
  `site_visiter` int(11) DEFAULT NULL,
  `site_visit_remark` varchar(255) DEFAULT NULL,
  `site_visit_images` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2338 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_sources` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `company_profile_id` bigint(20) unsigned NOT NULL,
  `source_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lead_sources_user_id_foreign` (`user_id`),
  KEY `lead_sources_company_profile_id_foreign` (`company_profile_id`),
  CONSTRAINT `lead_sources_company_profile_id_foreign` FOREIGN KEY (`company_profile_id`) REFERENCES `company_profiles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lead_sources_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_statuses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `class_name` varchar(255) DEFAULT NULL,
  `color_code` varchar(11) DEFAULT NULL,
  `icon_class` varchar(255) DEFAULT NULL,
  `type_of_status` enum('status','label') NOT NULL DEFAULT 'status',
  `is_for_system` tinyint(1) NOT NULL DEFAULT 0,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_transections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` bigint(20) unsigned NOT NULL,
  `assign_id` int(11) NOT NULL,
  `assign_by` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lead_transections_lead_master_id_foreign` (`lead_master_id`),
  CONSTRAINT `lead_transections_lead_master_id_foreign` FOREIGN KEY (`lead_master_id`) REFERENCES `lead_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=953 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `loandatas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` int(11) NOT NULL,
  `submitted_at` date DEFAULT NULL,
  `loan_portal` varchar(255) DEFAULT NULL,
  `application_no` varchar(255) DEFAULT NULL,
  `approved_amount` double(12,2) NOT NULL DEFAULT 0.00,
  `tenure` int(11) DEFAULT NULL,
  `roi` double(5,2) NOT NULL DEFAULT 0.00,
  `emi` double(12,2) NOT NULL DEFAULT 0.00,
  `processing_fee_per` double NOT NULL DEFAULT 0,
  `documentation_charges_tax` double(12,2) NOT NULL DEFAULT 0.00,
  `documentation_charges` double(12,2) NOT NULL DEFAULT 0.00,
  `processing_fee_tax` double(12,2) NOT NULL DEFAULT 0.00,
  `processing_fee` double(12,2) NOT NULL DEFAULT 0.00,
  `downpayment` double(12,2) NOT NULL DEFAULT 0.00,
  `stamp_fee` double(12,2) NOT NULL DEFAULT 0.00,
  `margin_money_amount` double(12,2) NOT NULL DEFAULT 0.00,
  `remark` varchar(255) DEFAULT NULL,
  `loan_sanction_date` date DEFAULT NULL,
  `loan_pdf` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=307 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `loandisbursements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` int(11) NOT NULL,
  `loandata_id` int(11) NOT NULL,
  `paymet_collection_id` int(11) NOT NULL,
  `amount` double(12,2) NOT NULL DEFAULT 0.00,
  `disbursement_date` date NOT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=157 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `company_profile_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `message` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `messages_company_profile_id_foreign` (`company_profile_id`),
  CONSTRAINT `messages_company_profile_id_foreign` FOREIGN KEY (`company_profile_id`) REFERENCES `company_profiles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint(20) unsigned NOT NULL,
  `model_type` varchar(255) NOT NULL,
  `model_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `lead_type` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Default 1 = .Follow up',
  `reminder_date` date DEFAULT NULL,
  `is_read` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = unread 1 = read',
  `count` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = lead 1 = task',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2967 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymet_collections` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `bank_id` int(11) DEFAULT NULL,
  `payment_type` enum('Cash','Cheque','NEFT','UPI','RTGS','Discount','Adjustment','Disbursement') NOT NULL DEFAULT 'Cash',
  `amount` varchar(255) DEFAULT NULL,
  `payment_date` date DEFAULT NULL,
  `cheque_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `utr_number` varchar(255) DEFAULT NULL,
  `upi_id` varchar(255) DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `status` tinyint(1) DEFAULT 0,
  `approved_by` int(11) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `paymet_collections_sales_master_id_foreign` (`sales_master_id`),
  CONSTRAINT `paymet_collections_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3543 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penal_companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penal_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `installation_id` bigint(20) unsigned NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `penal_images_installation_id_foreign` (`installation_id`),
  CONSTRAINT `penal_images_installation_id_foreign` FOREIGN KEY (`installation_id`) REFERENCES `installations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1712 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penal_types` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `penal_company_id` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penal_watts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `penal_company_id` int(11) NOT NULL DEFAULT 0,
  `name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penel_companies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `title_tag` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL DEFAULT 'web',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `type` varchar(255) NOT NULL DEFAULT 'CRM' COMMENT 'ERP/CRM Changes permissions separate show',
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_title_name_guard_name_unique` (`title`,`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=291 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `policies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `form_type` varchar(255) NOT NULL,
  `policy` longtext DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `item_code` varchar(255) DEFAULT NULL,
  `hsn_code` varchar(255) DEFAULT NULL,
  `gst_rate` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `category_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 2,
  `moq_level` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `products_user_id_foreign` (`user_id`),
  CONSTRAINT `products_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_wise_stock_adjusts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `warehouse_id` int(11) NOT NULL DEFAULT 0,
  `sales_master_id` bigint(20) unsigned DEFAULT NULL,
  `issue_type` enum('project','installer') NOT NULL DEFAULT 'project',
  `installer_id` int(11) DEFAULT NULL COMMENT 'user_id',
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) NOT NULL,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `current_stock` varchar(255) DEFAULT NULL,
  `real_stock` varchar(255) DEFAULT NULL,
  `difference` varchar(255) DEFAULT NULL COMMENT 'difference = current_stock - real_stock',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_wise_stock_adjusts_sales_master_id_foreign` (`sales_master_id`),
  CONSTRAINT `project_wise_stock_adjusts_sales_master_id_foreign` FOREIGN KEY (`sales_master_id`) REFERENCES `sales_masters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_wise_stock_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_wise_stock_id` bigint(20) unsigned NOT NULL,
  `delivery_challan_meta_id` int(11) NOT NULL DEFAULT 0,
  `delivery_challan_return_meta_id` int(11) NOT NULL DEFAULT 0,
  `installation_id` int(11) DEFAULT NULL,
  `sales_master_id` bigint(20) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `remark` text DEFAULT NULL,
  `type` enum('Credit','Debit') NOT NULL DEFAULT 'Credit',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_wise_stock_histories_project_wise_stock_id_foreign` (`project_wise_stock_id`),
  CONSTRAINT `project_wise_stock_histories_project_wise_stock_id_foreign` FOREIGN KEY (`project_wise_stock_id`) REFERENCES `project_wise_stocks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69795 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `project_wise_stocks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `delivery_challan_id` int(11) NOT NULL DEFAULT 0,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `warehouse_id` int(11) NOT NULL DEFAULT 0,
  `sales_master_id` bigint(20) unsigned NOT NULL,
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `issue_type` enum('project','installer') NOT NULL DEFAULT 'project',
  `installer_id` int(11) DEFAULT 0 COMMENT 'user_id',
  `quantity` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=428 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_direct_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `purchase_direct_id` bigint(20) unsigned NOT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `quantity` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gst_tax` double(10,2) DEFAULT 0.00,
  `gst_amount` double(11,2) DEFAULT 0.00,
  `total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `remarks` text DEFAULT NULL,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_direct_metas_purchase_direct_id_foreign` (`purchase_direct_id`),
  CONSTRAINT `purchase_direct_metas_purchase_direct_id_foreign` FOREIGN KEY (`purchase_direct_id`) REFERENCES `purchase_directs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=838 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_directs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `warehous_id` bigint(20) unsigned NOT NULL,
  `supplier_id` bigint(20) unsigned NOT NULL,
  `supplier_number` varchar(255) DEFAULT NULL,
  `grn_number` varchar(25) NOT NULL,
  `date` date NOT NULL,
  `total_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `remark` text DEFAULT NULL,
  `status` enum('Pending','Verified') NOT NULL DEFAULT 'Pending',
  `user_id` bigint(20) unsigned NOT NULL COMMENT 'verify_by',
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_directs_warehous_id_foreign` (`warehous_id`),
  KEY `purchase_directs_supplier_id_foreign` (`supplier_id`),
  KEY `purchase_directs_user_id_foreign` (`user_id`),
  CONSTRAINT `purchase_directs_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_directs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_directs_warehous_id_foreign` FOREIGN KEY (`warehous_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=387 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_order_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `purchase_order_id` bigint(20) unsigned NOT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `product_id` bigint(20) unsigned NOT NULL,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` bigint(20) unsigned NOT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `quantity` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gst_tax` double(10,2) DEFAULT 0.00,
  `gst_amount` double(11,2) DEFAULT 0.00,
  `remarks` text DEFAULT NULL,
  `remaining_qty` decimal(10,2) NOT NULL DEFAULT 0.00,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_order_metas_purchase_order_id_foreign` (`purchase_order_id`),
  KEY `purchase_order_metas_product_id_foreign` (`product_id`),
  KEY `purchase_order_metas_unit_id_foreign` (`unit_id`),
  CONSTRAINT `purchase_order_metas_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_metas_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_order_receives` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `purchase_order_id` bigint(20) unsigned NOT NULL,
  `purchase_order_meta_id` bigint(20) unsigned NOT NULL,
  `goods_receive_note_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `receive_qty` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_order_receives_purchase_order_id_foreign` (`purchase_order_id`),
  KEY `purchase_order_receives_purchase_order_meta_id_foreign` (`purchase_order_meta_id`),
  KEY `purchase_order_receives_goods_receive_note_id_foreign` (`goods_receive_note_id`),
  KEY `purchase_order_receives_product_id_foreign` (`product_id`),
  CONSTRAINT `purchase_order_receives_goods_receive_note_id_foreign` FOREIGN KEY (`goods_receive_note_id`) REFERENCES `goods_receive_notes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_receives_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_receives_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_receives_purchase_order_meta_id_foreign` FOREIGN KEY (`purchase_order_meta_id`) REFERENCES `purchase_order_metas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `supplier_id` bigint(20) unsigned NOT NULL,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `po_number` varchar(255) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `total_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('Pending','Approved By Admin','Half Receive','Receive','Cancle','Manualy Close') NOT NULL DEFAULT 'Pending',
  `remark` text DEFAULT NULL,
  `shipping_name` varchar(255) DEFAULT NULL,
  `shipping_mobile` varchar(255) DEFAULT NULL,
  `shipping_email` varchar(255) DEFAULT NULL,
  `shipping_address` varchar(255) DEFAULT NULL,
  `shipping_gst` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_orders_supplier_id_foreign` (`supplier_id`),
  CONSTRAINT `purchase_orders_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `rate_calculator_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `rate_calculator_id` int(11) NOT NULL,
  `category` varchar(255) DEFAULT NULL,
  `item` varchar(255) NOT NULL,
  `brand` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `unit` varchar(255) DEFAULT NULL,
  `wpk` double(13,2) NOT NULL DEFAULT 0.00,
  `qty` double(13,2) NOT NULL DEFAULT 0.00,
  `rate` double(13,2) NOT NULL DEFAULT 0.00,
  `subtotal` double(13,2) NOT NULL DEFAULT 0.00,
  `taxRate` double(13,2) NOT NULL DEFAULT 0.00,
  `totalTax` double(13,2) NOT NULL DEFAULT 0.00,
  `total` double(13,2) NOT NULL DEFAULT 0.00,
  `per_watt` double(13,2) NOT NULL DEFAULT 0.00,
  `is_special` varchar(255) DEFAULT NULL,
  `autoKw` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=677 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `rate_calculators` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `pv_capacity_kw` double(10,3) NOT NULL,
  `totalRate` double(13,2) NOT NULL,
  `gst_amount` double(13,2) NOT NULL,
  `total_amount` double(13,2) NOT NULL,
  `per_watt` double(13,2) NOT NULL,
  `profit_totalRate` double(13,2) NOT NULL,
  `profit_gst_amount` double(13,2) NOT NULL,
  `profit_total_amount` double(13,2) NOT NULL,
  `profit_per_watt` decimal(13,2) NOT NULL,
  `remarks` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `guard_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_masters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` int(11) DEFAULT NULL,
  `sales_quatation_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `consumer_number` varchar(255) NOT NULL,
  `master_create_date` date NOT NULL,
  `consumer_type` enum('Resident','Industrial','Commercial','Trading') NOT NULL DEFAULT 'Resident',
  `consumer_name` varchar(255) NOT NULL,
  `gst_number` varchar(11) DEFAULT NULL,
  `district_id` varchar(255) NOT NULL,
  `taluka_id` varchar(255) NOT NULL,
  `village_id` varchar(255) NOT NULL,
  `address` text DEFAULT NULL,
  `pin_code` varchar(255) NOT NULL,
  `contact_number` varchar(255) NOT NULL,
  `register_kw` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `aadhaar_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `bank_account` varchar(255) DEFAULT NULL,
  `ifsc_code` varchar(255) DEFAULT NULL,
  `contracted_load` varchar(255) DEFAULT NULL,
  `phase` varchar(255) DEFAULT NULL,
  `division` varchar(255) DEFAULT NULL,
  `sub_division_id` int(11) DEFAULT 0,
  `circle` varchar(255) DEFAULT NULL,
  `discom` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `agent_sales_person_id` varchar(255) NOT NULL,
  `commission_amount` double(15,2) NOT NULL DEFAULT 0.00,
  `sub_commission_amount` double(15,2) NOT NULL DEFAULT 0.00,
  `installation_amount` double(15,2) NOT NULL DEFAULT 0.00,
  `remark` text DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `application_pending` enum('0','1') NOT NULL DEFAULT '1' COMMENT '0 = Pending 1 = Approve',
  `pending_approvel` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `document_verified` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `feasibility_approved` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `meter_charge_paid` enum('0','1') NOT NULL DEFAULT '0' COMMENT ' 0 = Pending 1 = Approve',
  `payment_receveid` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `dispach_pending_list` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `installation_pending` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `installation_done` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `meter_application_done` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `meter_installation` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `subsidy_claimed` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `subsidy_receveid` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `file_cancel_order` enum('0','1') NOT NULL DEFAULT '0' COMMENT '0 = Pending 1 = Approve',
  `hold_query` enum('0','1') NOT NULL DEFAULT '0',
  `ragistration_portal` varchar(255) DEFAULT NULL,
  `ragistration_number` varchar(255) DEFAULT NULL,
  `ragistration_date` date DEFAULT NULL,
  `feasibility_discom_sr_number` varchar(255) DEFAULT NULL,
  `feasibility_amount` varchar(255) DEFAULT NULL,
  `invoice_no` varchar(255) DEFAULT NULL,
  `invoice_date` date DEFAULT NULL,
  `discom_sr_numbar` varchar(255) DEFAULT NULL,
  `installation_date` date DEFAULT NULL,
  `installation_asian_person` varchar(255) DEFAULT NULL,
  `couriar_ditails` varchar(255) DEFAULT NULL,
  `meter_asian_person` varchar(255) DEFAULT NULL,
  `couriar_no` varchar(255) DEFAULT NULL,
  `meter_application_date` varchar(255) DEFAULT NULL,
  `courair_company` varchar(255) DEFAULT NULL,
  `reson` varchar(255) DEFAULT NULL,
  `total_amount` varchar(255) DEFAULT NULL,
  `pending_amonut` varchar(255) DEFAULT NULL,
  `payment_ref_number` varchar(255) DEFAULT NULL,
  `feasibility_date` date DEFAULT NULL,
  `purchase_order_number` varchar(255) DEFAULT NULL,
  `purchase_order_date` date DEFAULT NULL,
  `cell_manufacture_name` varchar(255) DEFAULT NULL,
  `cell_gst_invoice_no` varchar(255) DEFAULT NULL,
  `penal_company_id` int(11) DEFAULT NULL,
  `inveter_company_id` int(11) DEFAULT NULL,
  `penal_watt_id` int(11) DEFAULT NULL,
  `proforma_15` varchar(255) DEFAULT NULL COMMENT 'Meter installation proforma 15 (doc)',
  `meter_installation_date` date DEFAULT NULL,
  `subsidy_disbursement_date` date DEFAULT NULL,
  `subsidy_disbursement_verify_date` date DEFAULT NULL,
  `subsidy_disbursal_remark` varchar(255) DEFAULT NULL,
  `subsidy_request_date` date DEFAULT NULL,
  `meter_application_oc` varchar(255) DEFAULT NULL COMMENT 'Meter Application OC Copy (doc)',
  `payment_receipt` varchar(255) DEFAULT NULL COMMENT 'Payment Receipt (doc)',
  `bom_id` int(11) DEFAULT NULL,
  `file_type` enum('C','L') NOT NULL DEFAULT 'C',
  `apply_for_loan` enum('0','1') NOT NULL DEFAULT '0',
  `login` enum('0','1') NOT NULL DEFAULT '0',
  `loan_sension` enum('0','1') NOT NULL DEFAULT '0',
  `disbursement` enum('0','1') NOT NULL DEFAULT '0',
  `feasibility_letter` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sales_masters_user_id_foreign` (`user_id`),
  CONSTRAINT `sales_masters_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2385 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_quatation_metas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_quatation_id` int(11) DEFAULT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) DEFAULT NULL,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `nos` varchar(255) DEFAULT NULL,
  `rate` varchar(255) DEFAULT NULL,
  `item_gst` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1678 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_quatation_technical_specifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sales_quatation_id` int(11) NOT NULL,
  `itemDescription` text DEFAULT NULL,
  `qty` varchar(255) DEFAULT NULL,
  `size` varchar(255) DEFAULT NULL,
  `make` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61821 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_quatations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lead_master_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `form_type` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `ship_to` varchar(255) DEFAULT NULL,
  `gst_no` varchar(255) DEFAULT NULL,
  `item_id` int(11) DEFAULT NULL,
  `nos` varchar(255) DEFAULT NULL,
  `rate` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `agent_sales_person_id` varchar(255) DEFAULT NULL,
  `bank_id` int(11) DEFAULT NULL,
  `penal_company_id` varchar(255) DEFAULT NULL,
  `penal_type_id` int(11) DEFAULT NULL,
  `penal_watt_id` int(11) DEFAULT NULL,
  `penal_nos` varchar(255) DEFAULT NULL,
  `pv_capacity_kw` varchar(255) DEFAULT NULL,
  `inveter_company_id` varchar(255) DEFAULT NULL,
  `inveter_capacity` varchar(255) DEFAULT NULL,
  `no_of_inveter` varchar(255) DEFAULT NULL,
  `structure` varchar(255) DEFAULT NULL,
  `common_meter` varchar(255) DEFAULT NULL,
  `total_system_cost` varchar(255) DEFAULT NULL,
  `meter_charges` varchar(255) DEFAULT NULL,
  `meter_charges_extra` enum('No','Yes') DEFAULT 'No',
  `registration_fee` varchar(255) DEFAULT NULL,
  `rate_per_kw` varchar(255) DEFAULT NULL,
  `gst` varchar(255) DEFAULT NULL,
  `quatation_type` varchar(255) DEFAULT NULL,
  `other_charge_name` varchar(255) DEFAULT NULL,
  `other_charge_amount` varchar(255) DEFAULT NULL,
  `subsidy` varchar(255) DEFAULT NULL,
  `total_amount` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `pending_amonut` varchar(255) DEFAULT NULL,
  `current_status` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7031 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `serial_number_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `serial_number_id` bigint(20) unsigned NOT NULL,
  `delivery_challan_id` bigint(20) unsigned NOT NULL,
  `delivery_challan_meta_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `serial_number_logs_serial_number_id_foreign` (`serial_number_id`),
  KEY `serial_number_logs_delivery_challan_id_foreign` (`delivery_challan_id`),
  KEY `serial_number_logs_delivery_challan_meta_id_foreign` (`delivery_challan_meta_id`),
  CONSTRAINT `serial_number_logs_delivery_challan_id_foreign` FOREIGN KEY (`delivery_challan_id`) REFERENCES `delivery_challans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `serial_number_logs_delivery_challan_meta_id_foreign` FOREIGN KEY (`delivery_challan_meta_id`) REFERENCES `delivery_challan_metas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `serial_number_logs_serial_number_id_foreign` FOREIGN KEY (`serial_number_id`) REFERENCES `serial_numbers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17487 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `serial_numbers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `serial_number` varchar(255) NOT NULL DEFAULT '0',
  `status` enum('available','dispatched','sold','damaged','returned') NOT NULL DEFAULT 'available',
  `location_id` int(11) NOT NULL DEFAULT 0,
  `purchase_direct_id` int(11) NOT NULL DEFAULT 0,
  `purchase_direct_meta_id` int(11) NOT NULL DEFAULT 0,
  `purchase_date` date DEFAULT NULL,
  `warranty_start_date` date DEFAULT NULL,
  `warranty_end_date` date DEFAULT NULL,
  `guarantee_start_date` date DEFAULT NULL,
  `guarantee_end_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25637 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sources` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `source_name` varchar(255) NOT NULL,
  `source_link` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `states` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `state_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `status_masters` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `company_profile_id` bigint(20) unsigned NOT NULL,
  `status_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `status_masters_user_id_foreign` (`user_id`),
  KEY `status_masters_company_profile_id_foreign` (`company_profile_id`),
  CONSTRAINT `status_masters_company_profile_id_foreign` FOREIGN KEY (`company_profile_id`) REFERENCES `company_profiles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `status_masters_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `sub_divisions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `division_name` varchar(255) NOT NULL,
  `circle_name` varchar(255) NOT NULL,
  `discom` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=434 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `alt_mobile` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `gst_number` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `payment_condition` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `talukas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `state_id` int(11) NOT NULL DEFAULT 0,
  `district_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `talukas_district_id_foreign` (`district_id`),
  CONSTRAINT `talukas_district_id_foreign` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=250 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tasks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `company_profile_id` int(11) NOT NULL DEFAULT 0,
  `manager_id` int(11) NOT NULL DEFAULT 0,
  `assign_id` int(11) NOT NULL DEFAULT 0,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `product_id` int(11) NOT NULL DEFAULT 0,
  `task_name` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `timespand` time DEFAULT NULL,
  `hours` varchar(255) DEFAULT NULL,
  `minutes` varchar(255) DEFAULT NULL,
  `time` varchar(255) DEFAULT NULL,
  `task_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `priority` enum('1','2','3') NOT NULL DEFAULT '1' COMMENT '1 = high 2 = medium 3 = low',
  `status` enum('1','2','3','4') NOT NULL DEFAULT '1' COMMENT '1 = pending 2 = in progress 3 = complete 4 = cancel',
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `unit_name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_commissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `effective_date` date NOT NULL,
  `commission` decimal(12,2) NOT NULL DEFAULT 0.00,
  `installation` decimal(12,2) NOT NULL DEFAULT 0.00,
  `sub_agent_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_commissions_user_id_index` (`user_id`),
  KEY `user_commissions_sub_agent_id_index` (`sub_agent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=331 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `otp` int(11) NOT NULL DEFAULT 0,
  `manager_limit` int(11) NOT NULL DEFAULT 2,
  `sales_limit` int(11) NOT NULL DEFAULT 8,
  `user_limit` int(11) NOT NULL DEFAULT 0,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `two_factor_secret` text DEFAULT NULL,
  `two_factor_recovery_codes` text DEFAULT NULL,
  `status` enum('0','1','2','3') NOT NULL COMMENT '0 = pending 1 = active 2 = block 3 = reject',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `if_erp` int(11) NOT NULL DEFAULT 0 COMMENT 'if 1 than erp	',
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `villages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `state_id` int(11) NOT NULL DEFAULT 0,
  `district_id` bigint(20) unsigned NOT NULL,
  `taluka_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `villages_district_id_foreign` (`district_id`),
  KEY `villages_taluka_id_foreign` (`taluka_id`),
  CONSTRAINT `villages_district_id_foreign` FOREIGN KEY (`district_id`) REFERENCES `districts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `villages_taluka_id_foreign` FOREIGN KEY (`taluka_id`) REFERENCES `talukas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouse_stock_adjustments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `warehouse_id` bigint(20) unsigned NOT NULL,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `current_stock` varchar(255) DEFAULT NULL,
  `real_stock` varchar(255) DEFAULT NULL,
  `difference` varchar(255) DEFAULT NULL COMMENT 'difference = current_stock - real_stock',
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `warehouse_stock_adjustments_warehouse_id_foreign` (`warehouse_id`),
  CONSTRAINT `warehouse_stock_adjustments_warehouse_id_foreign` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=138 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouse_stock_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `warehous_stock_id` int(11) NOT NULL DEFAULT 0,
  `purchase_direct_meta_id` int(11) NOT NULL DEFAULT 0,
  `delivery_challan_meta_id` int(11) NOT NULL DEFAULT 0,
  `delivery_challan_return_meta_id` int(11) NOT NULL DEFAULT 0,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gst_tax` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gst_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `remaining_quantity` decimal(10,2) NOT NULL DEFAULT 0.00,
  `remark` text DEFAULT NULL,
  `type` enum('Credit','Debit') NOT NULL DEFAULT 'Credit',
  `stock_type` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8703 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouse_stocks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `warehous_id` int(11) NOT NULL DEFAULT 0,
  `item_id` int(11) NOT NULL DEFAULT 0,
  `item_group_id` int(11) NOT NULL DEFAULT 0,
  `unit_id` int(11) NOT NULL DEFAULT 0,
  `type` enum('Item','ItemGroup') NOT NULL DEFAULT 'Item',
  `quantity` int(11) NOT NULL DEFAULT 0,
  `year_id` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=204 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `contact_person_no` varchar(255) DEFAULT NULL,
  `address` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `years` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

